<div class="rounds index">
	<h2><?php echo __('Rounds'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('Score'); ?></th>
			<th><?php echo $this->Paginator->sort('PlusMinus'); ?></th>
			<th><?php echo $this->Paginator->sort('Mood'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($rounds as $round): ?>
	<tr>
		<td><?php echo h($round['Round']['id']); ?>&nbsp;</td>
		<td><?php echo h($round['Round']['Score']); ?>&nbsp;</td>
		<td><?php echo h($round['Round']['PlusMinus']); ?>&nbsp;</td>
		<td><?php echo h($round['Round']['Mood']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $round['Round']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $round['Round']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $round['Round']['id']), null, __('Are you sure you want to delete # %s?', $round['Round']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Round'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Round Data'), array('controller' => 'round_data', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Round Datum'), array('controller' => 'round_data', 'action' => 'add')); ?> </li>
	</ul>
</div>
